*.elf
*.i64
*.id0
*.id1
*.id2
*.idb
*.nso
*.pfs0
*.nacp
*.nam
*.nro
*.o
*.txt
*.til
*.pchtxt
*.ips
.vscode/
build*
debug/
release/
linkerscripts/symstemp.ld
starlight_patch*/
scripts/.idea/*
!exported.txt
.exefs*/
.cache/
__pycache__/
compile_commands.json